/* HEADER */
.w3-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
.w3-xlarge {
    font-size: 24px;
}
.w3-padding-24 {
    padding: 24px;
}
.w3-left {
    float: left;
}
  
.w3-right {
    float: right;
}
  
.w3-button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.4s;
}
  
.w3-button:hover {
    background-color: #94afd3;
}
  

.chart-container {
    width: 90vw ;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin:auto
  }
  