.transaction-form {
  margin: auto;
    margin-top: 60px;
    max-width: 1200px;
    width: 90vw;
    text-align: center;
  }
  
  .transaction-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .transaction-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .transaction-form button {
    padding: 10px 20px;
    margin-bottom: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .transaction-form button:hover {
    background-color: #0056b3;
  }
  